SERVICE_SHARED_NETWORK=service-backbone-shared
SHARED_SERVICE_NETWORK=service-backbone-shared

REDIS_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-redis-service:replace-with-git-sha
REDIS_EXPORTER_IMAGE=oliver006/redis_exporter:v1.67.0

REDIS_PASSWORD=
REDIS_BIND_HOST=127.0.0.1
REDIS_BIND_PORT=6379
REDIS_PORT=6379

REDIS_EXPORTER_BIND_HOST=127.0.0.1
REDIS_EXPORTER_PORT=9121
REDIS_EXPORTER_WEB_TELEMETRY_PATH=/metrics
